@charset "utf-8";
/* CSS Document */

w {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}

#logo {
	max-width: 800px;
	max-height: 200px;
	position: static;
}

nav {
	display: block;
	overflow: hidden; /* Hide overflow */
    background-color: #25517e; /* Dark background color */
}

nav a {
	float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
}

nav .sign{
	float: right;
}

nav a:hover{
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
}

footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}