@charset "utf-8";
/* CSS Document */

header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}

#logo {
	max-width: 800px;
	max-height: 200px;
	position: static;
}

nav {
	display: block;
	overflow: hidden; /* Hide overflow */
    background-color: #25517e; /* Dark background color */
}

nav a {
	float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
}

nav .sign{
	float: right;
}

nav a:hover{
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
}

footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}

body {
    border-radius: 5px;
    padding: 20px;
}

* {box-sizing: border-box}

  input[type=text], input[type=email], input[type=password], input[type=date], input[type=number], input[type=tel] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

 .selects {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.numero {
  width: 15%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}